.day-box{
    display: flex;
    border: 1px gray solid;
    flex-flow: column wrap;
}
.task-box{
    display: flex;
    flex-flow: column wrap;
    text-align: center;
}
.curr-day{
    background-color: var(--secondary-color-2);
    color: white;
    border-radius: 2rem;
}
.cal-days{
    font-size: 1rem;
    font-family: var(--main-text);
    margin: 0.5rem;
    border-bottom: 2px gray solid;
}
.cal-date{
    font-size: 1rem;
    padding: 0.5rem;
    text-align: center;
    margin: 0 1rem;
}
.event-box{
    display: flex;
    cursor: pointer;
    height: auto;
}
.events{
    padding: 0.5rem;
    color: white;
    font-size: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}